.vscode/
.idea/
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake-build-debug
.cmake
.cache/
compile_flags.txt
compile_commands.json

# binaries
wee_bins/
os_image.bin
osimage_formated.bin
mellos.iso
iso/boot/kernel.elf

# logs
serial.log
qemu_debug.log
